
ngb-carousel
{
    
    /* background-color: chartreuse; */
    padding-left:6%;
    padding-right: 6%;
    
    
} 
/* app-trending
{
    padding-left:10%;
    padding-right: 10%;
} */

/* ngb-carousel ol.carousel-indicators
{
    bottom: -50px;

} */




/* .carousel-inner
{
    text-align: center;
}

.carousel-indicators
{
    bottom: -50px;
} */